body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}



.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}


footer {
    margin: 50px 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.product_table {
    width: 310px;
    border-collapse: separate;
    border-spacing: 2px;
}

.product_box {
    width: 200x;
    border: 1px solid #CCC;
    padding: 1px;
    vertical-align: top;
}

.product_img {
    margin: 1px;
    width: 80px;
    height: 80;
    float: left;
}


.product_ul {
    font-size: 80%;
    list-style-type: none;
}

.product_name {
    margin: 1px;
    padding: 2px;
    float: left;
    width: 200px;
    height: auto;
    line-height: 107%;
    background-color: #EAEAEA;
    font-size: 100%;
    font-weight: normal;
}


.product_price {
    margin: 2px;
    width: 200px;
    color: #CC0000;
    display: block;
    font-size: 120%;
    font-weight: bold;
    text-align: right;
    float: right;
}